* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-image: url(../Fotos/fondo2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Niconne', cursive;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow-x: hidden; }

@media (max-width: 576px) {
  body {
    background-image: url(../Fotos/fondo3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; }
  h1, h2 {
    color: aqua;
    text-align: center; } }

.sec1ini {
  margin: 30 auto;
  padding: 20px; }

/*imports*/
/*inicio navbar*/
.navbar {
  background-color: #cb7615d2;
  font-family: 'Niconne', cursive;
  font-size: 1.5rem; }
  .navbar-brand:hover {
    transform: rotateZ(360deg);
    animation-iteration-count: infinite;
    transition: 2s; }
  .navbar .dropdown-menu {
    background-color: #cb7615d2;
    font-family: 'Niconne', cursive;
    font-size: 1.5rem; }
  .navbar .nav-item:hover {
    background-color: #00ffff9b;
    transition: 1s;
    border-radius: 25%; }
  .navbar .dropdown-item:hover {
    background-color: aqua; }

/*fin navbar*/
/*main-index-productos*/
.mainproducto {
  overflow-x: hidden; }

.row {
  text-align: center; }
  .row .img {
    width: 250px;
    height: 200px;
    border: 5px double grey;
    border-radius: 25%; }
    .row .img:hover {
      transform: scale(1.1, 1.1); }
  .row h3 {
    margin: 10px;
    padding: 10px;
    color: #fbf8f8;
    font-style: bold;
    font-weight: 100;
    text-align: center;
    font-size: 1.5rem; }
    .row h3 span {
      background-color: #cb7615d2; }
  .row p span {
    margin-top: 3px;
    font-style: bold;
    font-size: 1.5rem;
    background-color: #cb7615d2;
    border-radius: 10px; }

/*inicio carousel*/
.carousel1 {
  padding-left: 1rem;
  margin: 1rem;
  width: 95%;
  text-align: center; }
  .carousel1 .carousel-control-next-icon {
    width: 2rem;
    height: 2rem;
    background-color: #752201;
    color: green;
    border-radius: 45%; }
  .carousel1 .carousel-control-prev-icon {
    width: 2rem;
    height: 2rem;
    background-color: #752201;
    color: green;
    border-radius: 45%; }
  .carousel1 .imgcarousel {
    width: 350px;
    height: 300px;
    border: solid 3px #cb7615d2;
    border-radius: 20%; }

.carousel2 {
  padding-left: 1rem;
  margin: 1rem;
  width: 95%;
  text-align: center; }
  .carousel2 .carousel-control-next-icon {
    width: 2rem;
    height: 2rem;
    background-color: #752201;
    color: green;
    border-radius: 45%; }
  .carousel2 .carousel-control-prev-icon {
    width: 2rem;
    height: 2rem;
    background-color: #752201;
    color: green;
    border-radius: 45%; }
  .carousel2 .carousel-inner {
    background: aliceblue;
    padding: 35px;
    border-radius: 25px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5); }
    .carousel2 .carousel-inner img {
      width: 100px;
      height: 100px;
      margin: auto;
      border: 5px dashed #cb7615d2;
      border-radius: 50%;
      overflow: hidden; }
    .carousel2 .carousel-inner .carousel-caption {
      position: static;
      padding-bottom: 15px;
      padding-top: 0; }
      .carousel2 .carousel-inner .carousel-caption h5 {
        font-size: 2rem;
        margin-bottom: 15px;
        margin-top: 25px;
        color: black;
        font-family: 'Niconne', cursive; }
      .carousel2 .carousel-inner .carousel-caption p {
        font-size: 1.1rem;
        color: #000;
        margin: auto;
        width: 70%;
        margin-bottom: 10px;
        font-family: 'Kaushan';
        font-weight: 300;
        letter-spacing: 2px; }

@media (max-width: 768px) {
  .carousel2 {
    display: none; } }

/*main nosotros*/
.mainnosotros {
  overflow-x: hidden; }
  .mainnosotros .texto1 {
    background-color: rgba(182, 94, 31, 0.589);
    color: black;
    line-height: 1.2;
    padding: 30px;
    margin: 30px;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Niconne', cursive;
    position: relative;
    border-radius: 10%; }
  .mainnosotros img {
    width: 35rem;
    border-radius: 30%;
    border: solid 0.2rem #00ffff9b; }

/*formulario*/
.secform {
  width: 100%;
  text-align: center; }
  .secform form {
    width: 25px;
    margin: 20px;
    padding: 20px; }
  .secform fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 3px;
    border-style: groove;
    border-color: #00ffff9b;
    border-image: initial;
    background-color: rgba(61, 61, 61, 0.455);
    text-align: center; }
    .secform fieldset legend {
      color: #030303;
      text-decoration: underline; }
    .secform fieldset legend:hover {
      background-color: #00ffff9b;
      transition: 2s;
      border-radius: 10%; }
    .secform fieldset label {
      font-size: 1.4rem;
      letter-spacing: 0.2rem;
      text-align: center;
      display: inline-block;
      width: auto;
      font-weight: bold;
      color: #00ffff9b; }
    .secform fieldset input, .secform fieldset textarea {
      margin-bottom: 20px;
      border: #752201 solid 1px;
      margin: 5px;
      padding: 5px; }
      .secform fieldset input:focus, .secform fieldset textarea:focus {
        border: rgba(0, 115, 255, 0.934); }
    .secform fieldset textarea {
      max-width: 200px;
      max-height: 200px;
      min-height: 100px;
      min-width: 100px; }
    .secform fieldset .input-enviar-limpiar {
      background-color: #1d6ffd;
      margin: 5px;
      padding: 5px;
      color: white; }
      .secform fieldset .input-enviar-limpiar:hover {
        background-color: #4c8ffb;
        cursor: pointer; }

/*inicio carrito*/
.sectioncarrito {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  padding: 30px; }
  .sectioncarrito .imgcarrito {
    width: 350px;
    height: 250px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 1px 10px 25px rgba(0, 0, 0, 0.5);
    margin: 15px; }
    .sectioncarrito .imgcarrito img {
      width: 400px;
      height: 100%;
      transition: 2s; }
      .sectioncarrito .imgcarrito img:hover {
        transform: translateX(-30%);
        filter: brightness(80%); }

.parrafocarrito {
  text-align: center; }
  .parrafocarrito p {
    font-size: 1rem; }

@media (max-width: 576px) {
  .parrafocarrito p {
    margin: 5px;
    background-color: aqua;
    font-size: 1rem; } }

/* inicio footer*/
.pie-pagina {
  width: 100%;
  background-color: rgba(182, 94, 31, 0.929); }

.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px; }

.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.pie-pagina .grupo-1 .box figure img {
  transition: 2s; }

.pie-pagina .grupo-1 .box figure img:hover {
  transform: rotateZ(360deg); }

.pie-pagina .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px; }

.pie-pagina .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 10px; }

.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  text-align: center; }

.pie-pagina .grupo-1 .red-social a:hover {
  color: aqua; }

.pie-pagina .grupo-2 {
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff; }

.pie-pagina .grupo-2 p {
  font-size: 15px; }

@media screen and (max-width: 800px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
    text-align: center; } }

/*imports*/
