/*formulario*/
.secform{
    width: 100%;
    text-align: center;
    form{            
        width: 25px;
        margin: 20px;
        padding: 20px;
    }
    fieldset {
        display: block;
        margin-inline-start: 2px;
        margin-inline-end: 2px;
        padding-block-start: 0.35em;
        padding-inline-start: 0.75em;
        padding-inline-end: 0.75em;
        padding-block-end: 0.625em;
        min-inline-size: min-content;
        border-width: 3px;
        border-style: groove;
        border-color: rgb(192, 192, 192);
        border-image: initial;
        background-color: rgba(61, 61, 61, 0.455);
        text-align: center;
        legend{
            color: black;
        }
        label{
            font-size: 1.5rem;
            display: inline-block;
            width: 100%;
            font-weight: bold;
            color: aqua;
        
        }
        input, textarea{
            margin-bottom: 20px;
            border: #752201 solid 1px;
            margin: 5px;
            padding: 5px;
            &:focus{
                border: rgba(0, 115, 255, 0.934);
            }

        }
        textarea{
            max-width: 200px;
            max-height: 200px;
            min-height: 100px;
            min-width: 100px;
        }
        .input-enviar-limpiar{
            background-color: rgb(29, 111, 253);
            margin: 5px;
            padding: 5px;
            color: white;
            &:hover{
                background-color: rgb(76, 143, 251);
                cursor: pointer;
            }
        }           
    }
}   

