/*main nosotros*/
.mainnosotros{
    overflow-x: hidden;
    .texto1{
    background-color: rgba(182, 94, 31, 0.589);
    color: black;
    line-height: 1.2;
    padding: 30px;
    margin-bottom: 30px;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Niconne', cursive;
    position: relative;
    border-radius: 10%;
  }
.imgnosotros{
    width: 35rem;
    border-radius: 30%;
    border: solid 0.2rem $colorsecundario;
    }
}