*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


$colorprincipal: #cb7615d2;
$colorsecundario: #00ffff9b;

body{
    background-image: url(../Fotos/fondo2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Niconne', cursive;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow-x:hidden;
}
   @media (max-width: 576px){
    body{
        background-image: url(../Fotos/fondo3.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size:cover;
    }
    h1, h2{
        color: aqua;
        text-align: center;
    }
   }


.sec1ini{
    margin: 30 auto;
    padding: 20px;
    
}


                        /*imports*/
@import "navbar";
@import "main-index-productos";
@import "carousel";
@import "main-nosotros";
@import "formulario";
@import "carrito";
@import "footer";
                        /*imports*/


                        
                       
                        

                        
                     
                        
                       
                        
                        
                       
                        
                        
                        
                       
